body {
    margin: 0;
    padding: 0;
    
  font-size: 18px;
  line-height: 1.2;
  font-family: "Roboto", "Arial", sans-serif;
  
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  min-width: 1200px;

  background-color: #849d8f;
  background-image: url("../img/slide-1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  
    transition: background-image 0.5s ease,
    background-color 0.5s ease;
}

/* Псевдоэлементы с изображениями нужны только для предзагрузки картинок, чтобы они уже были в кеше в момент переключения слайдов и сразу отображались */

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.jpg");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.jpg");
}

.content-wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.hide {
    display: none;
}

/*                                               ВРЕМЕННО

.container {
	width: 1146px;
    margin: 0 auto;
    padding: 0 27px; 
}
*/

.main-header {
    
    color: #FFFFFF;
    

}

.main-header a {
    color: #FFFFFF;
    text-decoration: none;
}

.index-logo {
    display: inline-block;
	margin-left: 0;
	margin-top: 10px;
    vertical-align: top;
}

.main-menu {
    display: inline-block;
    box-sizing: border-box;
    width: 383px;
    margin-left: 24px;
    margin-top: 30px;
    
    vertical-align: top;
    
}

.main-menu ul {
    margin: 0;
    padding: 0 0; 
    
    list-style: none;
    font-size: 0px;
    
}

.main-menu li {
    display: inline-block;
    
    font-size: 16px;
    line-height: 18px;
    
    vertical-align: top;
    
}

.main-menu a {
    display: inline-block;
    margin-right: 24px;
    border-bottom: 1px #9db1a5 solid;    
    
    vertical-align: top;

}

.main-menu a:hover {
  display: inline-block;
  margin-right: 0;
  padding: 10px 12px;
  vertical-align: top;
  color: #333333;
  text-decoration: none;

  background: #f7f6f3;
  border-radius: 100px;

  border: 1px solid #ffffff;
  
  z-index: 30px;
  
}


.user-block {
    float: right;
    box-sizing: border-box;
    width: 262px;
    min-height: 34px;
    margin-top: 23px;
    
}

.user-block ul {
    margin: 0;
    padding: 0; 
    
    list-style: none;
    font-size: 0px;
}

.user-block li {   
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    
    vertical-align: top;

}

.search {
    position: relative;
}

.search::before {
    content: "";
  position: absolute;
  top: 9px;
  left: 9px;

  width: 17px;
  height: 17px;

  background: url("../img/spritesheet.png") no-repeat -10px -1037px;
}

.user-block .search a {
    display: inline-block;
    width: 35px;
    height: 34px;
    margin-right: 8px;
    
    font-size: 0;
    
    vertical-align: top;
    
    border-radius: 100px;
    background-color: #f0f3f1;
    opacity: 0.2; 
}

.login {
    position: relative;
    
}

.login::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 17px;

  width: 21px;
  height: 19px;

  background: url("../img/spritesheet.png") no-repeat -10px -889px;
  
}

.user-block .login a {
    display: inline-block;
    padding: 9px 16px 9px 44px;
    margin-right: 9px;
    
    vertical-align: top;
    
    border-radius: 100px;
    background-color: #f0f3f1;
    opacity: 0.2; 
}

.basket {
    position: relative;
}

.basket::before {
    content: "";
  position: absolute;
  top: 7px;
  left: 17px;

  width: 21px;
  height: 20px;

  background: url("../img/spritesheet.png") no-repeat -10px -320px;
}

.user-block .basket a {
    display: inline-block;
    padding: 9px 35px 9px 43px;
    
    vertical-align: top;
    
    border-radius: 100px;
    background-color: #f0f3f1;
    opacity: 0.2; 
    
}

.header-contacts {
    display: inline-block;
    width: 165px;
    margin-left: 413px;
    margin-top: 72px;
      
    text-align: right;
    
    position: absolute;
} 

.header-contacts-time {
    font-size: 14px;
    line-height: 16px;    
}
.header-contacts-telephone {
    font-size: 22px;
    line-height: 24px;    
}

.main-index {
    
}                                                          /* Начало main-index */

.slider {
  position: relative;

  padding-top: 270px;

  text-align: center;
  color: #ffffff;
}    

.slide {
  display: none;
}                                           

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: 800;
    font-size: 60px;
}   

.slide-btn {
  display: inline-block;
  padding: 12px 50px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
} 

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.jpg");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.jpg");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.jpg");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.action-left {
    display: inline-block;
    box-sizing: border-box;
    width: 560px;
    min-height: 238px;
    padding: 20px 21px 22px 21px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 21px;
    
    vertical-align: top;

  background: #849d8f url(../img/action-raspberry-bg.jpg) no-repeat left top;

  border-radius: 20px;
  background-size: 580px 260px;
    
} 
  
.action-right {
    display: inline-block;
    box-sizing: border-box;
    width: 560px;
    min-height: 238px;
    padding: 20px 21px 22px 21px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: black;
    vertical-align: top;
    
      background: #849d8f url(../img/action-chocolate-bg.jpg) no-repeat center top;

  border-radius: 20px;
  background-size: 580px 260px;
}  
                                   
.action-title {
    margin: 0;
    margin-bottom: 26px;
	font-size: 35px;
	line-height: 41px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
}

.action-text {
    margin: 0;
    margin-bottom: 50px;
	font-size: 18px;
	line-height: 22px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
}

.action-btn {
  float-right;
  margin-left: 355px;
 padding: 12px 21px;
  
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
    
      background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  border-radius: 100px;
  opacity: 0.988;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.action-right .action-btn {
    margin-left: 330px;
}

.action-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.action-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
  
.catalog-item {
    display: inline-block;
    position: relative;
    width: 267px;
    min-height: 330px;
    margin-left: 0;
    margin-right: 21px;
    vertical-align: top;
}

.catalog-item:last-child {
    margin-right: 0;
}

.item-picture {
    border-radius: 200px;
}

.catalog-item::before {
    content: "";
    position: absolute;
    
    width: 61px;
    height: 61px;
    
    top: 0;
    left: 0;

    background: url("../img/spritesheet.png") no-repeat -10px -784px;
}

.item-price {
    font-size: 45px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
    color: #ffffff;

    position: absolute;
    left: 0;
    top: 210px;
}

.item-price::after{
    content: "/кг";
    font-size: 30px;
}

.item-title a {
  font-size: 16px;
  color: #ffffff;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  left: 7px;
  bottom: 7px;
  
  border-bottom: 1px #ffffff solid; 
}

.about-us-block {
    width: 1146px;
    box-sizing: border-box;
    margin-top: 35px;
    padding: 24px 20px;
    
    background: #849d8f url(../img/about-us-bg.jpg);
    border-radius: 10px;
}

.advantage-title {
    margin: 0;
    margin-bottom: 13px;
    
    font-size: 24px;
    color: #32323;
    line-height: 30px;
    text-align: left;
}

.advantage-icecream {
    display: inline-block;
    width: 540px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 11px;
    vertical-align: top;
    
    position: relative;
}

.advantage-cow {
    display: inline-block;
    width: 540px;
    margin-left: 0px;
    margin-right: 21px;
    margin-top: 11px;
    vertical-align: top;
    
    position: relative;
}

.advantage-natural {
    display: inline-block;
    width: 540px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 11px;
    vertical-align: top;
    
    position: relative;
}

.advantage-tempreature {
    display: inline-block;
    width: 540px;
    margin-left: 0px;
    margin-right: 21px;
    margin-top: 11px;
    vertical-align: top;
    
    position: relative;
}

.advantage-icecream::before {
    content: "";
    position: absolute;
    
    width: 49px;
    height: 49px;
    
    top: 0;
    left: 0;

    background: url("../img/spritesheet.png") no-repeat -10px -79px;

}

.advantage-cow::before {
    content: "";
    position: absolute;
    
    width: 48px;
    height: 49px;
    
    top: 0;
    left: 0;

    background: url("../img/spritesheet.png") no-repeat -10px -10px;

}

.advantage-natural::before {
    content: "";
    position: absolute;
    
    width: 49px;
    height: 49px;
    
    top: 0;
    left: 0;

    background: url("../img/spritesheet.png") no-repeat -10px -148px;

}

.advantage-tempreature::before {
    content: "";
    position: absolute;
    
    width: 48px;
    height: 49px;
    
    top: 0;
    left: 0;

    background: url("../img/spritesheet.png") no-repeat -10px -217px;

}


.advantage-text p {
    padding-left: 54px;
    margin: 0px;
    margin-top: 15px;
    font-size: 16px;
    color: #32323;
    line-height: 22px;
    text-align: left;
}

.blog-news {
    display: inline-block;
    width: 560px;
    min-height: 223px;
    margin-top: 40px;
    padding-left: 20px;
    padding-top: 26px;
    
    vertical-align: top;
    
    background: #849d8f url("../img/blog-news-bg.jpg") no-repeat center top ;
    background-size: 580px 260px;
    border-radius: 20px;
}

.news-title {
    margin: 0;
    
    font-size: 16px;
    color: #323232;
    line-height: 22px;
    text-align: left;
}

.news-article {
    display: block;
    width: 290px;
    margin-top: 13px; 
   
    font-size: 24px;
    color: #323232;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
}

.blog-subscription {
    display: inline-block;
    width: 560px;
    min-height: 223px;
    margin-top: 38px;
    margin-left: 22px;
    vertical-align: top;
    background-color: black;
}

.map {
    width: 1237px;
    min-height: 430px;
    margin-top: 39px;
    margin-left: -45px;
    margin-right: 0;
    background-color: green;
    border: 1px solid;
}

.feed-back {
    display: inline-block;
    width: 303px;
    min-height: 309px;
    margin-top: 62px;
    margin-left: 887px;
    vertical-align: top;
    background-color: black;
}

.main-footer {
    background-color: gold;
}                                              /* Начало Footer */

.footer-social {
    display: inline-block;
    width: 230px;
    min-height: 40px;
    margin-top: 35px;
    margin-right: 166px;
    vertical-align: top;
    background-color: black;
}

.footer-navigation {
    display: inline-block;
    width: 340px;
    min-height: 40px;
    margin-top: 35px;
    margin-right: 211px;
    vertical-align: top;
    background-color: black;
}

.footer-navigation ul {
    margin: 0;
    padding: 0;
}

.footer-navigation li {
    display: inline-block;
    margin-right: 30px;
}
.footer-navigation li:nth-child(3) {
    margin-right: 40px;
}

.copyright {
    display: inline-block;
    width: 191px;
    min-height: 57px;
    margin-top: 19px;
    background-color: black;
}

.main-catalog {
    background-color: gray;
}                                                          /* Начало main-catalog */

.breadcrumbs {
    display: inline-block;
    width: 267px;
    margin-top: -20px;
    background-color: black;
}

.breadcrumbs ul {
    padding: 0;
    margin: 0;
}

.breadcrumbs li {
    display: inline;
    margin-right: 20px;
}

.forms-title {
    width: 386px;
    min-height: 39px;
    margin-top: 5px;
    background-color: black;
}

.forms-sorting {
    display: inline-block;
    width: 195px;
    min-height: 61px;
    margin-top: 24px;
    margin-right: 11px;
    vertical-align: top;
    background-color: black;
}

.forms-price {
    display: inline-block;
    width: 222px;
    min-height: 61px;
    margin-top: 24px;
    margin-right: 11px;
    vertical-align: top;
    background-color: black;
}

.forms-fat {
    display: inline-block;
    width: 418px;
    min-height: 61px;
    margin-top: 24px;
    margin-right: 11px;
    vertical-align: top;
    background-color: black;
}

.forms-dops {
    display: inline-block;
    width: 704px;
    min-height: 60px;
    margin-top: 14px;
    margin-right: 13px;
    vertical-align: top;
    background-color: black;
}

.forms-send {
    display: inline-block;
    width: 145px;
    min-height: 40px;
    margin-right: 13px;
    margin-top: 35px;
    vertical-align: bottom;
    background-color: black;
}

.products-item {
    display: inline-block;
    width: 267px;
    min-height: 325px;
    margin-right: 22px;
    margin-top: 38px;
    vertical-align: top;
    background-color: black;
}

.products-item:nth-child(4),
.products-item:nth-child(8),
.products-item:nth-child(12) {
    margin-right: 0;
}

.paginator {
    display: inline-block;
    width: 191px;
    min-height: 29px;
    margin-left: 955px;
    margin-top: 76px;
    margin-bottom: 30px;
    vertical-align: top;
    background-color: black;
}

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-adventage-icon-cow {
    width: 48px;
    height: 49px;
    background-position: -10px -10px;
}

.sprite-adventage-icon-icecream {
    width: 49px;
    height: 49px;
    background-position: -10px -79px;
}

.sprite-adventage-icon-natural {
    width: 49px;
    height: 49px;
    background-position: -10px -148px;
}

.sprite-adventage-icon-temreature {
    width: 48px;
    height: 49px;
    background-position: -10px -217px;
}

.sprite-back {
    width: 9px;
    height: 14px;
    background-position: -10px -286px;
}

.sprite-basket {
    width: 21px;
    height: 20px;
    background-position: -10px -320px;
}

.sprite-basket-item-mark {
    width: 11px;
    height: 11px;
    background-position: -10px -360px;
}

.sprite-basket-items1 {
    width: 33px;
    height: 33px;
    background-position: -10px -391px;
}

.sprite-basket-items2 {
    width: 33px;
    height: 33px;
    background-position: -10px -444px;
}

.sprite-cancel {
    width: 11px;
    height: 11px;
    background-position: -10px -497px;
}

.sprite-centerline-rage-input {
    width: 107px;
    height: 4px;
    background-position: -10px -528px;
}

.sprite-checkbox-btn-off- {
    width: 20px;
    height: 20px;
    background-position: -10px -552px;
}

.sprite-checkbox-btn-on {
    width: 20px;
    height: 20px;
    background-position: -10px -592px;
}

.sprite-circle-marker {
    width: 23px;
    height: 25px;
    background-position: -10px -632px;
}

.sprite-forward {
    width: 9px;
    height: 14px;
    background-position: -10px -677px;
}

.sprite-full-basket {
    width: 21px;
    height: 20px;
    background-position: -10px -711px;
}

.sprite-heart {
    width: 15px;
    height: 13px;
    background-position: -10px -751px;
}

.sprite-hit {
    width: 61px;
    height: 61px;
    background-position: -10px -784px;
}

.sprite-line-rage-input {
    width: 188px;
    height: 4px;
    background-position: -10px -865px;
}

.sprite-login {
    width: 21px;
    height: 19px;
    background-position: -10px -889px;
}

.sprite-marker {
    width: 9px;
    height: 5px;
    background-position: -10px -928px;
}

.sprite-radio-btn-off {
    width: 21px;
    height: 22px;
    background-position: -10px -953px;
}

.sprite-radio-btn-on {
    width: 21px;
    height: 22px;
    background-position: -10px -995px;
}

.sprite-search {
    width: 17px;
    height: 17px;
    background-position: -10px -1037px;
}

.sprite-social-btn-fb {
    width: 38px;
    height: 38px;
    background-position: -10px -1074px;
}

.sprite-social-btn-it {
    width: 38px;
    height: 38px;
    background-position: -10px -1132px;
}

.sprite-social-btn-tw {
    width: 38px;
    height: 38px;
    background-position: -10px -1190px;
}

.sprite-social-btn-vk {
    width: 38px;
    height: 38px;
    background-position: -10px -1248px;
}
