body {
    margin: 0;
    padding: 0;
    
  font-size: 18px;
  line-height: 1.2;
  font-family: "Roboto", "Arial", sans-serif;
  
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  min-width: 1200px;

  background-color: #849d8f;
  background-image: url("../img/slide-1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  
    transition: background-image 0.5s ease,
    background-color 0.5s ease;
}

/* Псевдоэлементы с изображениями нужны только для предзагрузки картинок, чтобы они уже были в кеше в момент переключения слайдов и сразу отображались */

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.jpg");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.jpg");
}

.content-wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.hide {
    display: none;
}

.main-header {
    
    color: #FFFFFF;
    

}

.main-header a {
    color: #FFFFFF;
    text-decoration: none;
}

.index-logo {
    display: inline-block;
	margin-left: 0;
	margin-top: 10px;
    vertical-align: top;
}

.main-menu {
    display: inline-block;
    box-sizing: border-box;
    width: 383px;
    margin-left: 24px;
    margin-top: 30px;
    
    vertical-align: top;
    
}

.main-menu ul {
    margin: 0;
    padding: 0 0; 
    
    list-style: none;
    font-size: 0px;
    
}

.menu-list li {
    display: inline-block;
    
    font-size: 16px;
    line-height: 18px;
    
    vertical-align: top;
    
}

.menu-list a {
    display: inline-block;
    margin: 0;
    padding: 9px 13px 0 14px;    
    border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
    vertical-align: top;

}

.menu-list a:hover {
  display: inline-block;
  padding: 9px 13px 10px 14px;
  margin: 0;
  vertical-align: top;
  color: #333333;
  text-decoration: none;

  background: rgba(247, 246, 243, 1);
  border-radius: 100px;

  border: 1px solid #ffffff;
  
}

.menu-list a:active {
  background-color: rgba(237, 237, 237, 0.98);
  background:    -moz-linear-gradient(top, #f7f6f3 0%, #ededed 100%);
  background:    -webkit-linear-gradient(top, #f7f6f3 0%, #ededed 100%);
  background:         linear-gradient(to bottom, #f7f6f3 0%, #ededed 100%);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
}

.menu-list {
    position: relative;
}

.menu-catalog:hover .submenu-catalog {
    display: inline-block;
    box-sizing: border-box;    
    width: 143px;
    padding: 0 10px 0 5px;
    
    position: absolute;
    left: -4px;
    top: 43px;
    
    font-size: 14px;
    color: #323232;
    font-weight: bold;
    line-height: 16px;
    text-align: left;
    
    border-radius: 5px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    
    z-index: 49px;
}


.submenu-catalog  li:first-child {
    display: block;
    padding: 13px 0 13px 15px;
    border-bottom: 1px #d1d0ce solid;
}

.submenu-catalog a {
    display: block;
    padding: 0 0 10px 15px;
    font-size: 14px;
    color: #323232;
    font-weight: bold;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
}

.submenu-catalog li:nth-child(2) a {
    padding: 10px 0 10px 15px;
}

.menu-catalog:hover {
    padding: 0 0 30px 0;
    position: absolute;
    z-index: 48;
}

.submenu-catalog li:not(:first-child):hover {
    
   
   background-color: #fbded7;

}

.submenu-catalog li:not(:first-child):hover a {
   
 
    
}

.user-block {
    float: right;
    box-sizing: border-box;
    width: 262px;
    min-height: 34px;
    margin-top: 23px;
    
}

.user-block ul {
    margin: 0;
    padding: 0; 
    
    list-style: none;
    font-size: 0px;
}

.user-block li {   
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    
    vertical-align: top;

}

.search {
    position: relative;
}

.search::before {
    content: "";
  position: absolute;
  top: 9px;
  left: 9px;

  width: 17px;
  height: 17px;

  background: url("../img/spritesheet.png") no-repeat -92px -222px;
}

.user-block .search a {
    display: inline-block;
    box-sizing: border-box;
    width: 35px;
    height: 34px;
    margin-right: 8px;
    
    font-size: 0;
    
    vertical-align: top;
    
    border-radius: 100px;
    background-color: #f0f3f1;
    opacity: 0.2; 
}

.login {
    position: relative;
    
}

.login::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 17px;

  width: 21px;
  height: 19px;

  background: url("../img/spritesheet.png") no-repeat -284px -10px;
  
}

.user-block .login a {
    display: inline-block;
    padding: 10px 16px 9px 44px;
    margin-right: 9px;
    
    vertical-align: top;
    
    border-radius: 100px;
    background-color: rgba(240, 243, 241, 0.2);
}

.basket {
    position: relative;
}

.basket::before {
    content: "";
  position: absolute;
  top: 7px;
  left: 17px;

  width: 21px;
  height: 20px;

  background: url("../img/spritesheet.png") no-repeat -39px -79px;
}

.user-block .basket a {
    display: inline-block;
    padding: 10px 34px 9px 45px;
    
    vertical-align: top;
    
    border-radius: 100px;
    background-color: rgba(240, 243, 241, 0.2);
    
}

.search:hover {
    color: #333333;
    background-color: #ffffff;
    border-radius: 100px;
    width: 34px;
    margin-right: 9px;
}

.login a:hover {
    color: #333333;
  background-color: #ffffff;
}

.login:hover::before {
   background: url("../img/spritesheet.png") no-repeat -288px -49px; 
}

.search:hover::before {
   background: url("../img/spritesheet.png") no-repeat -129px -222px;
}
  
.header-contacts {
    display: inline-block;
    width: 165px;
    margin-left: 413px;
    margin-top: 72px;
      
    text-align: right;
    
    position: absolute;
} 

.header-contacts-time {
    font-size: 14px;
    line-height: 16px;    
}
.header-contacts-telephone {
    font-size: 22px;
    line-height: 24px;    
}

.main-index {
    
}                                                          /* Начало main-index */

.slider {
  position: relative;

  padding-top: 270px;

  text-align: center;
  color: #ffffff;
}    

.slide {
  display: none;
}                                           

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: 800;
    font-size: 60px;
}   

.slide-btn {
  display: inline-block;
  padding: 12px 50px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
} 

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.jpg");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.jpg");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.jpg");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.action-left {
    display: inline-block;
    box-sizing: border-box;
    width: 560px;
    min-height: 238px;
    padding: 20px 21px 22px 21px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 21px;
    
    vertical-align: top;

  background: #849d8f url(../img/action-raspberry-bg.jpg) no-repeat left top;

  border-radius: 20px;
  background-size: cover;
    
} 
  
.action-right {
    display: inline-block;
    box-sizing: border-box;
    width: 560px;
    min-height: 238px;
    padding: 20px 21px 22px 21px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: black;
    vertical-align: top;
    
      background: #849d8f url(../img/action-chocolate-bg.jpg) no-repeat center top;

  border-radius: 20px;
  background-size: cover;
}  
                                   
.action-title {
    margin: 0;
    margin-bottom: 26px;
	font-size: 35px;
	line-height: 41px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
}

.action-text {
    margin: 0;
    margin-bottom: 50px;
	font-size: 18px;
	line-height: 22px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
}

.action-btn {
    float-right;
    margin-left: 355px;
    padding: 12px 21px;
}
  
.orange { 
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  
    color: #ffffff;
    text-decoration: none;
    
    background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    border-radius: 100px;
    opacity: 0.988;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    
    cursor: pointer;
}

.action-right .action-btn {
    margin-left: 330px;
}

.orange:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.orange:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.catalog {
    margin-left: 0;
}

.catalog-item-fixed {
    display: inline-block;
    width: 267px;
    min-height: 330px;
    margin-left: 0;
    padding: 0 10px 0 10px;
    vertical-align: top;
    position: static;
}
  
.catalog-item {
    
     display: inline-block;
    width: 267px;
    min-height: 330px;
    margin-left: 0;
    padding: 0 10px 0 10px;
    vertical-align: top;
   
    position: relative;
    
}

.catalog-item-fixed:nth-child(1) {
    padding: 0 10px 0 0;
}

.catalog-item-fixed:nth-child(4) {
    padding: 0 0 0 10px;
}

.catalog-item:hover {
   min-height: 400px;
   padding: 0 10px 0 10px; 
   position: absolute;
   
   border-radius: 5px; 
     
   background-color: rgba(255, 255, 255, 0.2);
   box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
   
   z-index: 50;
}

.catalog-item:hover a {
   text-decoration: none;
}

.catalog-item:hover .item-review {
    display: inline-block;
    margin: 21px 15px 17px 37px;
    padding: 14px 13px 12px 14px;
    
    font-size: 18px;

    color: #ffffff;
    font-weight: bold;
    line-height: 24px;
    text-align: center;

}

.item-picture {
    border-radius: 200px;
    background-sizing: cover;
}

.catalog-item::before {
    content: "";
    position: absolute;
    
    width: 61px;
    height: 61px;
    
    top: 5;
    left: 5;

    background: url("../img/spritesheet.png") no-repeat -209px -192px;
}

.item-price {
    font-size: 45px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
    color: #ffffff;

    position: absolute;
    left: 0;
    top: 210px;
}

.item-price::after{
    content: "/кг";
    font-size: 30px;
}

.item-title {
   display: inline-block; 
  font-size: 16px;
  color: #ffffff;
  line-height: 22px;
  text-align: center;
  text-decoration: underline;
  padding: 14px 4px 0 10px;
  
}

.item-title:hover {
    color: #ffbc9e;
}

.about-us-block {
    width: 1146px;
    box-sizing: border-box;
    margin-top: 35px;
    padding: 24px 20px;
    
    background: #849d8f url(../img/about-us-bg.jpg);
    border-radius: 10px;
}

.advantage-title {
    margin: 0;
    margin-bottom: 13px;
    
    font-size: 24px;
    color: #32323;
    line-height: 30px;
    text-align: left;
}

.advantage-icecream {
    display: inline-block;
    width: 540px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 11px;
    vertical-align: top;
    
    position: relative;
}

.advantage-cow {
    display: inline-block;
    width: 540px;
    margin-left: 0px;
    margin-right: 21px;
    margin-top: 11px;
    vertical-align: top;
    
    position: relative;
}

.advantage-natural {
    display: inline-block;
    width: 540px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 11px;
    vertical-align: top;
    
    position: relative;
}

.advantage-tempreature {
    display: inline-block;
    width: 540px;
    margin-left: 0px;
    margin-right: 21px;
    margin-top: 11px;
    vertical-align: top;
    
    position: relative;
}

.advantage-icecream::before {
    content: "";
    position: absolute;
    
    width: 49px;
    height: 49px;
    
    top: 0;
    left: 0;

    background: url("../img/spritesheet.png") no-repeat -78px -10px;

}

.advantage-cow::before {
    content: "";
    position: absolute;
    
    width: 48px;
    height: 49px;
    
    top: 0;
    left: 0;

    background: url("../img/spritesheet.png") no-repeat -10px -10px;

}

.advantage-natural::before {
    content: "";
    position: absolute;
    
    width: 49px;
    height: 49px;
    
    top: 0;
    left: 0;

    background: url("../img/spritesheet.png") no-repeat -147px -10px;

}

.advantage-tempreature::before {
    content: "";
    position: absolute;
    
    width: 48px;
    height: 49px;
    
    top: 0;
    left: 0;

    background: url("../img/spritesheet.png") no-repeat -216px -10px;

}


.advantage-text p {
    padding-left: 54px;
    margin: 0px;
    margin-top: 15px;
    font-size: 16px;
    color: #32323;
    line-height: 22px;
    text-align: left;
}

.blog-news {
    display: inline-block;
     box-sizing: border-box;
    width: 560px;
    min-height: 223px;
    margin-top: 40px;
    padding-left: 20px;
    padding-top: 26px;
    
    vertical-align: top;
    
    background: #849d8f url("../img/blog-news-bg.jpg") no-repeat center top ;
    background-size: cover;
    border-radius: 20px;
}

.news-title {
    margin: 0;
    
    font-size: 16px;
    color: #323232;
    line-height: 22px;
    text-align: left;
}

.news-article {
    display: block;
    width: 290px;
    margin-top: 13px; 
   
    font-size: 24px;
    color: #323232;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
}

.blog-back-bg {
    display: inline-block;
    box-sizing: border-box;
    width: 560px;
    min-height: 223px;
    margin-top: 40px;
    margin-left: 21px;
      
    vertical-align: top;
        
    background: #ffffff url(../img/blog-bg.png) repeat center top;
    background-sizing: cover;
       
    border-radius: 20px;
    
}

.blog-subscription {
    display: inline-block;
    box-sizing: border-box;
    width: 546px;
    min-height: 209px;
    margin-top: 7px;
    margin-left: 7px;
    
    padding: 32px 18px;
    
    vertical-align: top;
    
    background-color: #f8f7f4;
    
    border-radius: 20px;
    
    z-index: 999px;

}

.subscription-words {
    font-size: 16px;
    color: #5a5a5a;
    line-height: 22px;
    text-align: left;
}

.subscription-form {
    display: inline-block;
    width: 367px;
    height: 45px;
    padding-left: 14px;
    box-sizing: border-box;
    
    border: #d3d3d2 1px solid;
    border-radius: 5px;
    
    font-size: 16px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #999999;
    line-height: 24px;
    text-align: left;
    
    background-color: #ffffff;
    opacity: 0.5;
     
}


.subscription-btn {
    display: inline-block;
    margin-left: 11px;
    padding: 11px 18px;
    
    font-size: 18px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #ffffff;
    font-weight: bold;
    line-height: 24px;
    border: none;
    

}

.main-contacts {
    width: 100%;
    margin-top: 40px;
    
    align: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.map {
    
    display: inline-block;
    width: 1200px;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
    
    position: relative;
    
}

.feed-back {
    display: inline-block;
    box-sizing: border-box;
    width: 303px;
    height: 303px;
    padding: 30px 25px;
    top: 63px;
    left: 871px;
    vertical-align: top;
    
    font-family: "Roboto", "Arial", sans-serif;
    
    position: absolute;
    background-color: #fffefc;
    
    border-radius: 20px;
}

.feed-back p {
    margin: 0;
    margin-bottom: 24px;
}

.contacts-addres,
.contacts-for-telephone,
.contacts-time {
    display: inline-block;
    font-size: 14px;
    color: #323232;
    line-height: 20px;
    text-align: left;
    word-space: break-word;
}

.contacts-location,
.contacts-telephone {
    display: inline-block;
      font-size: 18px;
  color: #323232;
  font-weight: bold;
  line-height: 24px;
  text-align: left;

}

.contacts-addres {
    padding-right: 45px;
}

.feed-back-btn {
    display: inline-block;
    padding: 14px 28px;
}

.main-footer {
    margin-top: 20px;
    
    color: #ffffff;
}                                              /* Начало Footer */

.main-footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer-social {
    float: left;
    width: 239px;
    margin-top: 18px;
    margin-right: 160px;

}

.social-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  
   font-size: 0;
   vertical-align: top;

  background: transparent url("../img/spritesheet.png") no-repeat center top;
  opacity: 0.8;
  border: 2px solid #c2cec7;
  border-radius: 50%;
}

.social-btn-vk {
  background-position: -329px -62px;
}

.social-btn-fb {
  background-position: -218px -273px;
}

.social-btn-it {
  background-position: -270px -273px;
}

.social-btn-tw {
  background-position: -329px -10px;
}

.social-btn:hover {
 opacity: 1;
}

.social-btn:active {
    box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 1);
    opacity: 0.8;
}


.footer-navigation {
    display: inline-block;
    width: 347px;
    margin-top: 18px;
    margin-right: 200px;
    
    vertical-align: top;

}

.footer-navigation ul {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    
    position: relative;
}

.footer-navigation li {
    display: inline-block;
    margin-right: 30px;
    
    font-size: 13px;
    font-family: "Myriad Pro", "Ariel", sans-serif;
    color: #ffffff;
    line-height: 18px;
    text-align: left;
}

.footer-navigation li:nth-child(3) {
    margin-right: 49px;  
}

.footer-navigation li:nth-child(1) {
    font-weight: bold;
    
}

.footer-navigation li:nth-child(4) {
    margin-right: 0; 
}

.footer-navigation a {
    border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

.footer-navigation a:hover {
    color: #ffbc9e;
    border-bottom: 1px #ffbc9e solid;
}

.footer-navigation ul::before {
    content: "";
  position: absolute;
  top: 7px;
  left: -4px;

  width: 15px;
  height: 13px;

  background: url("../img/spritesheet.png") no-repeat -209px -159px;
}

.copyright {
    display: inline-block;
    width: 195px;
    margin-top: 1px;
}

.copyright-logo {
    padding-right: 73px;
}

.copyright-made-in {
    display: inline-block;
    margin-top: 0;
     font-size: 12px;
  color: #fefefe;
  line-height: 18px;
  text-align: left;
}

.copyright-made-in a {
    text-decoration: none;
    
    border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

.copyright-made-in a:hover {
    color: #ffbc9e;
    border-bottom: 1px #ffbc9e solid;
}

.main-catalog {
    background-color: gray;
}                                                          /* Начало main-catalog */

.breadcrumbs {
    display: inline-block;
    width: 267px;
    margin-top: -20px;
    background-color: black;
}

.breadcrumbs ul {
    padding: 0;
    margin: 0;
}

.breadcrumbs li {
    display: inline;
    margin-right: 20px;
}

.forms-title {
    width: 386px;
    min-height: 39px;
    margin-top: 5px;
    background-color: black;
}

.forms-sorting {
    display: inline-block;
    width: 195px;
    min-height: 61px;
    margin-top: 24px;
    margin-right: 11px;
    vertical-align: top;
    background-color: black;
}

.forms-price {
    display: inline-block;
    width: 222px;
    min-height: 61px;
    margin-top: 24px;
    margin-right: 11px;
    vertical-align: top;
    background-color: black;
}

.forms-fat {
    display: inline-block;
    width: 418px;
    min-height: 61px;
    margin-top: 24px;
    margin-right: 11px;
    vertical-align: top;
    background-color: black;
}

.forms-dops {
    display: inline-block;
    width: 704px;
    min-height: 60px;
    margin-top: 14px;
    margin-right: 13px;
    vertical-align: top;
    background-color: black;
}

.forms-send {
    display: inline-block;
    width: 145px;
    min-height: 40px;
    margin-right: 13px;
    margin-top: 35px;
    vertical-align: bottom;
    background-color: black;
}

.products-item {
    display: inline-block;
    width: 267px;
    min-height: 325px;
    margin-right: 22px;
    margin-top: 38px;
    vertical-align: top;
    background-color: black;
}

.products-item:nth-child(4),
.products-item:nth-child(8),
.products-item:nth-child(12) {
    margin-right: 0;
}

.paginator {
    display: inline-block;
    width: 191px;
    min-height: 29px;
    margin-left: 955px;
    margin-top: 76px;
    margin-bottom: 30px;
    vertical-align: top;
    background-color: black;
}

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-adventage-icon-cow {
    width: 48px;
    height: 49px;
    background-position: -10px -10px;
}

.sprite-adventage-icon-icecream {
    width: 49px;
    height: 49px;
    background-position: -78px -10px;
}

.sprite-adventage-icon-natural {
    width: 49px;
    height: 49px;
    background-position: -147px -10px;
}

.sprite-adventage-icon-temreature {
    width: 48px;
    height: 49px;
    background-position: -216px -10px;
}

.sprite-back {
    width: 9px;
    height: 14px;
    background-position: -10px -79px;
}

.sprite-basket {
    width: 21px;
    height: 20px;
    background-position: -39px -79px;
}

.sprite-basket-item-mark {
    width: 11px;
    height: 11px;
    background-position: -80px -79px;
}

.sprite-basket-items1 {
    width: 33px;
    height: 33px;
    background-position: -111px -79px;
}

.sprite-basket-items2 {
    width: 33px;
    height: 33px;
    background-position: -164px -79px;
}

.sprite-cancel {
    width: 11px;
    height: 11px;
    background-position: -217px -79px;
}

.sprite-centerline-rage-input {
    width: 107px;
    height: 4px;
    background-position: -10px -132px;
}

.sprite-checkbox-btn-off- {
    width: 20px;
    height: 20px;
    background-position: -248px -79px;
}

.sprite-checkbox-btn-on {
    width: 20px;
    height: 20px;
    background-position: -217px -119px;
}

.sprite-checkbox-off-copy {
    width: 20px;
    height: 20px;
    background-position: -257px -119px;
}

.sprite-checkbox-on-copy {
    width: 20px;
    height: 20px;
    background-position: -10px -159px;
}

.sprite-circle-marker {
    width: 23px;
    height: 25px;
    background-position: -50px -159px;
}

.sprite-circle-marker-copy {
    width: 26px;
    height: 27px;
    background-position: -93px -159px;
}

.sprite-forward {
    width: 9px;
    height: 14px;
    background-position: -139px -159px;
}

.sprite-full-basket {
    width: 21px;
    height: 20px;
    background-position: -168px -159px;
}

.sprite-heart {
    width: 15px;
    height: 13px;
    background-position: -209px -159px;
}

.sprite-hit {
    width: 61px;
    height: 61px;
    background-position: -209px -192px;
}

.sprite-line-rage-input {
    width: 188px;
    height: 4px;
    background-position: -10px -273px;
}

.sprite-login {
    width: 21px;
    height: 19px;
    background-position: -284px -10px;
}

.sprite-login-copy {
    width: 21px;
    height: 19px;
    background-position: -288px -49px;
}

.sprite-marker {
    width: 9px;
    height: 5px;
    background-position: -288px -88px;
}

.sprite-marker-copy {
    width: 9px;
    height: 5px;
    background-position: -297px -113px;
}

.sprite-radio-btn-off {
    width: 21px;
    height: 22px;
    background-position: -297px -138px;
}

.sprite-radio-btn-off-copy {
    width: 21px;
    height: 22px;
    background-position: -290px -180px;
}

.sprite-radio-btn-on {
    width: 21px;
    height: 22px;
    background-position: -10px -222px;
}

.sprite-radio-btn-on-copy {
    width: 21px;
    height: 22px;
    background-position: -51px -222px;
}

.sprite-search {
    width: 17px;
    height: 17px;
    background-position: -92px -222px;
}

.sprite-search-copy {
    width: 17px;
    height: 17px;
    background-position: -129px -222px;
}

.sprite-social-btn-fb {
    width: 32px;
    height: 32px;
    background-position: -218px -273px;
}

.sprite-social-btn-it {
    width: 32px;
    height: 32px;
    background-position: -270px -273px;
}

.sprite-social-btn-tw {
    width: 32px;
    height: 32px;
    background-position: -329px -10px;
}

.sprite-social-btn-vk {
    width: 32px;
    height: 32px;
    background-position: -329px -62px;
}
